/* 定义全局配色变量，色值按照UI设计规范 */

/* Element UI */
$--color-primary: #5e83ba;
$--color-success: #21b100;
$--color-danger: #dc0000;
$--color-placeholder: #c0c4cc;

/* Color */
// 白色
$--color-white: #fff;
// 黑色 （ 用于主文本 ）
$--color-black: #606266;
// 浅灰色 （ 用于次文本 ）
$--color-gray: #999;
// 蓝色
$--color-blue: $--color-primary;
// 绿色
$--color-green: $--color-success;
// 红色
$--color-red: $--color-danger;

/* 整体表单、按钮圆角像素 */
$--border-radius-base: 3px;

/* 界面整体背景色 */
$--base-background: #eff4ff;

$--border-color-base: #d5d9e6;
$--border-color-light: #dfecfb;
$--border-color-lighter: #EBEEF5;

$--table-header-background-color: #f3f5fa;
$--table-header-color: $--color-black;
$--table-row-hover-background-color: #f3f5fa;
$--table-current-row-background-color: #e6e9f5;

$--color-text-regular: $--color-black;
$--color-text-placeholder: #C0C4CC;

$--button-small-font-size: 14px;
/// padding||Spacing|3
$--button-small-padding-vertical: 7px;
/// padding||Spacing|3
$--button-small-padding-horizontal: 15px;

/// padding||Spacing|3
$--button-mini-padding-vertical: 6px;
/// padding||Spacing|3
$--button-mini-padding-horizontal: 12px;

$--button-danger-border-color: $--border-color-base;
/// color||Color|0
$--button-danger-font-color: $--color-text-regular;
/// color||Color|0
$--button-danger-background-color: $--color-white;

$--button-success-border-color: $--border-color-base;
/// color||Color|0
$--button-success-font-color: $--color-text-regular;
/// color||Color|0
$--button-success-background-color: $--color-white;

$--input-small-font-size: 14px;
$--input-small-height: 30px;

$--input-mini-font-size: 12px;
$--input-mini-height: 26px;

$--input-disabled-fill: #f5f7fa;
$--input-disabled-border: #e4e7ed;

$--menu-item-hover-fill: #ebeef5;

$--box-shadow: 0px 0px 6px 1px rgba(203, 203, 226, 0.1);
$--box-border-color: #f1f1f7;

$--radio-bordered-mini-padding: 5px 15px 0 10px;
$--radio-bordered-mini-height: 26px;
$--radio-bordered-small-padding: 7px 15px 0 10px;
$--radio-bordered-small-height: 30px;

$--checkbox-bordered-small-padding: 5px 15px 5px 10px;
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px;
$--checkbox-bordered-small-height: 30px;
$--checkbox-bordered-mini-height: 26px;

//Media queries breakpoints
$--screen-xs: 480px !default;
$--screen-sm: 768px !default;
$--screen-md: 992px !default;
$--screen-lg: 1360px !default;